@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
._1UPViJTd_yaC1_cfTnmW9Y {
  background-color: #ffd399;
  border-radius: 0px 0px 10px 10px;
  font-family: "Montserrat", sans-serif;
}
._3XtROQ0NJMg32bobTVj4RS {
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}
._2Ryc0EdrAlBmLFgxh2MAWb {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a2416;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px 10px 0px 0px;
  color: #f59120;
}
body {
  font-family: "Montserrat", sans-serif;
}
path,
.MuiButton-label,
h6,
.MuiTypography-body2 {
  font-family: "Montserrat", sans-serif;
  color: #f59120;
}
.MuiOutlinedInput-root,
legend,
.MuiInputLabel-outlined {
  border-color: #f59120;
  color: #f59120;
}
.MuiPaper-elevation24,
.MuiPickersCalendarHeader-switchHeader,
.MuiPickersBasePicker-pickerView,
.MuiPickersCalendarHeader-switchHeader,
.MuiToolbar-root,
.MuiTabs-root {
  background-color: #3a2416;
}
.MuiPickersCalendarHeader-switchHeader,
.MuiTypography-caption {
  color: #f59120;
}
button {
  color: #f59120;
}
.MuiTypography-body1 {
  font-family: "Montserrat", sans-serif;
}
.MuiAvatar-root {
  background-color: #f59120;
  color: #f59120;
}
.MuiPickersClock-clock {
  background-color: #f59120;
}
.MuiTypography-subtitle1,
.MuiTypography-h4,
.MuiTypography-h3,
.MuiTypography-h6 {
  color: #f59120;
  font-family: "Montserrat", sans-serif;
}
.MuiPickersDay-daySelected,
.MuiPickersClockPointer-pointer,
.MuiPickersClock-pin,
.MuiPickersClockPointer-thumb,
.MuiPickersClockNumber-clockNumberSelected {
  background-color: #3a2416;
  font-family: "Montserrat", sans-serif;
}
.MuiPickersCalendarHeader-iconButton {
  background-color: #3a2416;
  font-family: "Montserrat", sans-serif;
}
.MuiOutlinedInput-inputAdornedEnd,
.MuiFormLabel-filled {
  font-family: "Montserrat", sans-serif;
}
._2vU-KUtz5-k29OlV5m7df1 {
  background-color: #f59120;
}
.MuiTypography-noWrap,
._2mqV6nb5wT63-eyCtNsXhI {
  background-color: #3a2416;
  padding: 0;
  border-radius: #3a2416;
}
._2fDFJ9JSJQ3pH1lK4KAPXZ,
._1X-ObWNBLkVJe2XZ1LpxUK,
.MuiPaper-elevation8,
._2MRGbqe3OI-tqpCZx3pyVv {
  background-color: #3a2416;
}
.MuiButtonBase-root {
  background-color: #3a2416;
}
.MuiTypography-noWrap {
  color: #f59120;
}
._1X-ObWNBLkVJe2XZ1LpxUK {
  padding: 0px;
}
._2fDFJ9JSJQ3pH1lK4KAPXZ {
  padding: 8px;
}
.MuiSvgIcon-root,
.MuiTypography-noWrap {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #eee7da;
}
.ZQyBVDyNG8FDStkDQkNXd:hover {
  background-color: #eee7da;
}
