<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Case Details</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strayscue Admin | Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add_case_details.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
<div class="details">
    <div class="recentOrders">
        {% if error %}
        {{ error }}
        {% endif %}
        <div>
            <a align="center" type="submit" class="btn btn-dark" href="{% url 'dashboard' %}">Go back to Dashboard</a>
            <br/>
            <br/>
        </div>


		<form method="POST" action="{% url 'case_details' case_detail.pk %}" enctype="multipart/form-data">
			{% csrf_token %}
            <div>
                <button align="center" type="submit" class="btn btn-dark"> Save </button>
                <br/>
                <br/>
            </div>
			<label>Status</label>
			<select class="form-control" name="status">
				<option value="" selected disabled hidden>{{case_detail.status}}</option>
				<option> Reported </option>
				<option> Admitted </option>
				<option> Blood Test Done </option>
				<option> Operation Started </option>
				<option> Post Operation </option>
				<option> Released </option>
			</select>
			<br/>
			<div class="cardHeader">
				<h2>Reporter Details:</h2>
			</div>
			<div class="grid-container">
                <div class="grid-item">
                    <label>Reporter Name</label>
                    <input type="text" class="form-control" name="reporter_name" placeholder="{{case_detail.reporter_name}}">
                </div>
                <div class="grid-item">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" placeholder="{{case_detail.phone_number}}">
                </div>
                <div class="grid-item">
                    <label>Alternate Phone Number</label>
                    <input type="text" class="form-control" name="alt_phone_number" placeholder="{{case_detail.alt_phone_number}}">
                </div>
                <div class="grid-item">
                    <label>Reported Date</label>
                    <input type="text" class="form-control" name="reported_date" placeholder="{{case_detail.reported_date | date:'d-m-Y' }}">
                </div>
                <div class="grid-item">
                    <label>Reported Time</label>
                    <input type="text" class="form-control" name="reported_time" placeholder="{{case_detail.reported_time | date:'H:i' }}">
                </div>
                <div class="grid-item">
                    <label>Location</label>
                    <input type="text" class="form-control" name="location" placeholder="{{case_detail.location}}">
                </div>
                <div class="grid-item">
                    <label>Landmark</label>
                    <input type="text" class="form-control" name="landmark" placeholder="{{case_detail.landmark}}">
                </div>
                <div class="grid-item">
                    <label>Pincode</label>
                    <input type="text" pattern="[0-9]{6}" class="form-control" name="pincode" placeholder="{{case_detail.pincode}}">
                </div>
                <div class="grid-item">
                    <label>Can Drop Animal?</label>
                    <select class="form-control" name="can_drop_animal">
                        {% if case_detail.can_drop_animal %}
                        <option selected="" hidden disabled> {{case_detail.can_drop_animal}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Yes </option>
                        <option> No </option>
                    </select>
                </div>
                <div class="grid-item">
                    <label>Animal Marking</label>
                    <input type="text" class="form-control" name="animal_marking" placeholder="{{case_detail.animal_marking}}">
                </div>
                <div class="grid-item">
                    <label>Animal Colour</label>
                    <input type="text" class="form-control" name="animal_color" placeholder="{{case_detail.animal_color}}">
                </div>
                <div class="grid-item">
                    <label>Animal Type</label>
                    <select  class="form-control" name="animal_type">
                        {% if case_detail.animal_type %}
                        <option selected="" hidden disabled> {{case_detail.animal_type}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Dog </option>
                        <option> Cat </option>
                        <option> Other </option>
                    </select>
                </div>
                <div class="grid-item">
                   <label>Pickup Date</label>
                    {% if case_detail.pickup_date %}
                    <input type="text" class="form-control" name="pickup_date" placeholder="{{case_detail.pickup_date | date:'d-m-Y' }}">
                    {% else %}
                    <input type="text" class="form-control" name="pickup_date" placeholder="DD-MM-YYYY">
                    {% endif %}
                </div>
                <div class="grid-item">
                    <label>Pickup Time</label>
                    {% if case_detail.pickup_date %}
                    <input type="text" class="form-control" name="pickup_time" placeholder="{{case_detail.pickup_time | date:'H:i' }}">
                    {% else %}
                    <input type="text" class="form-control" name="pickup_time" placeholder="24 Hr HH:MM (eg: 19:11)">
                    {% endif %}
                </div>
            </div>
            <br/>
            <h3>Reporter Photo ID</h3>
            <div class="row">
                <div class="card">
                    {% if case_detail.reporter_photo_id_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.reporter_photo_id_1.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" class="form-control-file" name="reporter_photo_id_1" placeholder="Upload an image">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.reporter_photo_id_2 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.reporter_photo_id_2.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" class="form-control-file" name="reporter_photo_id_2" placeholder="Upload an image">
                  </div>
                </div>
            </div>
            <br/>
            <h3>Consent Form</h3>
            <div class="row">
                <div class="card">
                    {% if case_detail.consent_form %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.consent_form.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" class="form-control-file" name="consent_form" placeholder="Upload an image">
                  </div>
                </div>
            </div>
            <br/>
            <h3>Animal Pictures</h3>
            <div class="row">
                <div class="card">
                    {% if case_detail.animal_picture_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.animal_picture_1.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="animal_picture_1" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.animal_picture_2 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.animal_picture_2.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="animal_picture_2" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.animal_picture_3 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.animal_picture_3.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="animal_picture_3" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.animal_picture_4 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.animal_picture_4.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="animal_picture_4" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.animal_picture_5 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.animal_picture_5.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="animal_picture_5" placeholder="">
                  </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-2">-->
<!--                        <img style="height:100px;width:100px" class="image-fluid" src = "{{case_detail.reporter_photo_id_1.url}}">-->
<!--                        <input type="file" class="form-control-file" name="reporter_photo_id_1" placeholder="Upload an image">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <img style="height:100px;width:100px" class="image-fluid" src = "{{case_detail.reporter_photo_id_1.url}}">-->
<!--                    <input type="file" class="form-control-file" name="reporter_photo_id_1" placeholder="Upload an image">-->
<!--                </div>-->
<!--            </div>-->

			<br/>
            <br/>

            <div class="cardHeader">
                <h2>Further Animal Details:</h2>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <label>Animal Age</label>
                    <select  class="form-control" name="age_of_animal">
                        {% if case_detail.age_of_animal %}
                        <option selected="" hidden disabled> {{case_detail.age_of_animal}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> 0-1 Yrs </option>
                        <option> 1-5 Yrs </option>
                        <option> 5-10 Yrs </option>
                        <option> 10+ Yrs </option>
                    </select>
                </div>
                <div class="grid-item">
                    <label>Animal Temperament</label>
                    <select  class="form-control" name="animal_temperament">
                        {% if case_detail.animal_temperament %}
                        <option selected="" hidden disabled> {{case_detail.animal_temperament}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Friendly </option>
                        <option> Aggressive </option>
                        <option> Scared </option>
                        <option> Other </option>
                    </select>
                </div>
                <div class="grid-item">
                   <label>Animal Gender</label>
                    <select  class="form-control" name="gender">
                        {% if case_detail.gender %}
                        <option selected="" hidden disabled> {{case_detail.gender}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Female </option>
                        <option> Male </option>
                        <option> Other </option>
                    </select>
                </div>
                <div class="grid-item">
                   <label>Animal Pregnant</label>
                    <select  class="form-control" name="pregnant">
                        {% if case_detail.pregnant %}
                        <option selected="" hidden disabled> {{case_detail.pregnant}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Yes </option>
                        <option> No </option>
                        <option> Not Sure </option>
                    </select>
                </div>
                <div class="grid-item">
                   <label>Animal Breed</label>
                    <select  class="form-control" name="breed">
                        {% if case_detail.breed %}
                        <option selected="" hidden disabled> {{case_detail.breed}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Indie </option>
                        <option> Non-Indie </option>
                    </select>
                </div>
				<div class="grid-item">
                   <label>Animal Catchable</label>
                    <select  class="form-control" name="catchable">
                        {% if case_detail.catchable %}
                        <option selected="" hidden disabled> {{case_detail.catchable}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Yes </option>
                        <option> No </option>
                    </select>
                </div>
            </div>
<!--            <div class="row">-->

<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="animal_picture_1" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="animal_picture_2" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="animal_picture_3" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="animal_picture_4" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="animal_picture_5" placeholder="">-->
<!--                </div>-->
<!--            </div>-->

            <br/>
            <br/>

            <div class="cardHeader">
                <h2>Medical Details:</h2>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                   <label>Medical History / Other Issues</label>
                    <input type="text" class="form-control" name="medical_history_other_issues" placeholder="{{case_detail.medical_history_other_issues}}">
                </div>
                <div class="grid-item">
                  <label>Animal Vaccinated</label>
                   <select  class="form-control" name="vaccinated">
                       {% if case_detail.vaccinated %}
                       <option selected="" hidden disabled> {{case_detail.vaccinated}} </option>
                       {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                       <option> Yes </option>
                       <option> No </option>
                       <option> Not Sure </option>
                   </select>
                </div>
                <div class="grid-item">
                  <label>Animal Dewormed</label>
                    <select  class="form-control" name="dewormed">
                        {% if case_detail.dewormed %}
                        <option selected="" hidden disabled> {{case_detail.dewormed}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Yes </option>
                        <option> No </option>
                        <option> Not Sure </option>
                    </select>
                </div>
                <div class="grid-item">
                  <label>Animal Fit For Surgery</label>
                    <select  class="form-control" name="fit_for_surgery">
                        {% if case_detail.fit_for_surgery %}
                        <option selected="" hidden disabled> {{case_detail.fit_for_surgery}} </option>
                        {% else %}
                        <option selected=""> Choose an option </option>
                        {% endif %}
                        <option> Yes </option>
                        <option> No </option>
                        <option> Not Sure </option>
                    </select>
                </div>
                <div class="grid-item">
                    <label>Other Details</label>
                    <input size="30" type="text" class="form-control" name="other_details" placeholder="{{case_detail.other_details}}">
                </div>
                <div class="grid-item">
                    <label>Admission Date</label>
                    {% if case_detail.admission_date %}
                    <input type="text" class="form-control" name="admission_date" placeholder="{{case_detail.admission_date | date:'d-m-Y' }}">
                    {% else %}
                    <input type="text" class="form-control" name="admission_date" placeholder="DD-MM-YYYY">
                    {% endif %}
                </div>
            </div>
            <br/>
            <h3>Blood Report</h3>
            <div class="row">
                <div class="card">
                    {% if case_detail.blood_test_report_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.blood_test_report_1.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="blood_test_report_1" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.blood_test_report_2 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.blood_test_report_2.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="blood_test_report_2" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.blood_test_report_3 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.blood_test_report_3.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="blood_test_report_3" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.blood_test_report_4 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.blood_test_report_4.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="blood_test_report_4" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.blood_test_report_5 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.blood_test_report_5.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="blood_test_report_5" placeholder="">
                  </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <label>Blood Report</label>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="blood_test_report_1" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="blood_test_report_2" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="blood_test_report_3" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="blood_test_report_4" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="blood_test_report_5" placeholder="">-->
<!--                </div>-->
<!--            </div>-->

            <br/>
            <br/>

			<div class="cardHeader">
                <h2>Operation Details:</h2>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <label>Vet Name</label>
                    <input type="text" class="form-control" name="vet_assigned" placeholder="{{case_detail.vet_assigned}}">
                </div>
                <div class="grid-item">
                    <label>Operation Date</label>
                    {% if case_detail.operation_date %}
                    <input type="text" class="form-control" name="operation_date" placeholder="{{case_detail.operation_date | date:'d-m-Y' }}">
                    {% else %}
                    <input type="text" class="form-control" name="operation_date" placeholder="DD-MM-YYYY">
                    {% endif %}
                </div>
                <div class="grid-item">
                    <label>Operation Cost</label>
                    {% if case_detail.operation_cost %}
                    <input type="text" class="form-control" name="operation_cost" placeholder="{{case_detail.operation_cost}}">
                    {% else %}
                    <input type="text" class="form-control" name="operation_cost" placeholder="in INR (eg: 2000)">
                    {% endif %}
                </div>
                <div class="grid-item">
                    <label>Operation Start Time</label>
                    {% if case_detail.operation_start_time %}
                    <input type="text" class="form-control" name="operation_start_time" placeholder="{{case_detail.operation_start_time | date:'H:i' }}">
                    {% else %}
                    <input type="text" class="form-control" name="operation_start_time" placeholder="24 Hr HH:MM (eg: 19:11)">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Operation End Time</label>
                    {% if case_detail.operation_end_time %}
                    <input type="text" class="form-control" name="operation_end_time" placeholder="{{case_detail.operation_end_time | date:'H:i' }}">
                    {% else %}
                    <input type="text" class="form-control" name="operation_end_time" placeholder="24 Hr HH:MM (eg: 19:11)">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Operation Outcome</label>
                    <select  class="form-control" name="operation_outcome">
                        <option selected=""> {{case_detail.operation_outcome}} </option>
                        <option> Successful </option>
                        <option> Fatality </option>
                        <option> Complicated </option>
                    </select>
                </div>
                <div class="grid-item">
                    <label>Cause of Failure</label>
                    <input type="text" class="form-control" name="cause_of_failure" placeholder="{{case_detail.cause_of_failure}}">
                </div>
            </div>
            <br/>
            <h3>Post Operation Picture</h3>
            <div class="row">
                <div class="card">
                    {% if case_detail.after_operation_pic_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.after_operation_pic_1.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="after_operation_pic_1" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.after_operation_pic_2 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.after_operation_pic_2.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="after_operation_pic_2" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.after_operation_pic_3 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.after_operation_pic_3.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="after_operation_pic_3" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.after_operation_pic_4 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.after_operation_pic_4.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="after_operation_pic_4" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.after_operation_pic_5 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.after_operation_pic_5.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="after_operation_pic_5" placeholder="">
                  </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <label>Post Operation Picture</label>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="after_operation_pic_1" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="after_operation_pic_2" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="after_operation_pic_3" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="after_operation_pic_4" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="after_operation_pic_5" placeholder="">-->
<!--                </div>-->
<!--            </div>-->

            <br/>
            <br/>

			<div class="cardHeader">
                <h2>Post Operation Details:</h2>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <label>Post-Operation Comments</label>
                    <input type="text" class="form-control" name="post_op_comments" placeholder="{{case_detail.post_op_comments}}">
                </div>
                <div class="grid-item">
                    <label>Cage Number Assigned</label>
                    <input type="text" class="form-control" name="cage_num" placeholder="{{case_detail.cage_num}}">
                </div>
                <div class="grid-item">
                    <label>Post-Operation Start Date</label>
                    {% if case_detail.post_op_start_date %}
                    <input type="text" class="form-control" name="post_op_start_date" placeholder="{{case_detail.post_op_start_date | date:'d-m-Y' }}">
                    {% else %}
                    <input type="text" class="form-control" name="post_op_start_date" placeholder="DD-MM-YYYY">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Post-Operation Start Time</label>
                    {% if case_detail.post_op_start_time %}
                    <input type="text" class="form-control" name="post_op_start_time" placeholder="{{case_detail.post_op_start_time | date:'H:i' }}">
                    {% else %}
                    <input type="text" class="form-control" name="post_op_start_time" placeholder="24 Hr HH:MM (eg: 19:11)">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Release Date</label>
                    {% if case_detail.release_date %}
                    <input type="text" class="form-control" name="release_date" placeholder="{{case_detail.release_date | date:'d-m-Y' }}">
                    {% else %}
                    <input type="text" class="form-control" name="release_date" placeholder="DD-MM-YYYY">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Release Time</label>
                    {% if case_detail.release_time %}
                    <input type="text" class="form-control" name="release_time" placeholder="{{case_detail.release_time | date:'H:i' }}">
                    {% else %}
                    <input type="text" class="form-control" name="release_time" placeholder="24 Hr HH:MM (eg: 19:11)">
                    {% endif %}

                </div>
                <div class="grid-item">
                    <label>Other Comments</label>
                    <input type="text" class="form-control" name="other_comments" placeholder="{{case_detail.other_comments}}">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="card">
                    {% if case_detail.medicine_photos_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.medicine_photos_1.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="medicine_photos_1" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.medicine_photos_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.medicine_photos_2.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="medicine_photos_2" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.medicine_photos_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.medicine_photos_3.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="medicine_photos_3" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.medicine_photos_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.medicine_photos_4.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="medicine_photos_4" placeholder="">
                  </div>
                </div>
                <div class="card">
                    {% if case_detail.medicine_photos_1 %}
                    <img style="width:100%" class="image-fluid" src = "{{case_detail.medicine_photos_5.url}}">
                    {% endif %}
                  <div class="container_card">
                    <input type="file" multiple class="form-control-file" name="medicine_photos_5" placeholder="">
                  </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <label>Medication Prescription Pictures</label>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="medicine_photos_1" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="medicine_photos_2" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="medicine_photos_3" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="medicine_photos_4" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <input type="file" multiple class="form-control-file" name="medicine_photos_5" placeholder="">-->
<!--                </div>-->
<!--            </div>-->

            <br/>
            <br/>

            <div>
                <button align="center" type="submit" class="btn btn-dark"> Save </button>
                <br/>
                <br/>
            </div>
		</form>
	</div>
</div>
</body>
</html>
